body {
    background-color: #2C2D31;
    padding: 0;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
h1 {
    background-color: #526D82;
    color: #eceff1;
    border: 0px solid black;
    padding: 2px;
    margin: 0 10% 10px 10%;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    font-family: fantasy;
    margin-top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
}
h2 {
    background-color: #526D82;
    color: #eceff1;
    border: 1px solid black;
    padding: 2px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 85%;
    font-family: fantasy;
}
#strato-compaitbility-list {
    background-color: #526D82;
    color: #eceff1;
    border: 1px solid black;
    padding: 2px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    font-family: fantasy;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#strato-compaitbility-list button {
    width: 18px;
    background: none;
    height: 18px;
    padding: 0;
    font-size: 8%;
    float: right;
    border: none;
}
.language-plaintext {
    color: white;
    background-color: #37474f;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px solid black;
    font-family: serif;
    text-transform: capitalize;
    font-size: 90%;
    margin: 0;
}
a {
    color: #eceff1;
}
p {
    color: silver;
    font-family: 'Merriweather', serif;
    text-align: left;
    font-size: 85%;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 15px;
    font-family: monospace;
    color: silver;
    font-size: 100%;
}
section ul {
    color: silver;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
section li {
    list-style-type: number;
    border-bottom: 1px solid silver;
    margin-bottom: 25px;
    margin-left: 30px;
    border-radius: 5px;
    font-size: 100%;
}
blockquote {
    border-left: 3px solid silver;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 5px;
    width: 95%;
    font-size: 100%;
}
#logo {
    float: left;
    width: 20px;
    z-index: 99;
    border-radius: 50%;
    margin-right: -20px;
    margin-left: 0;
    animation: rotator 5s 1s infinite;
}
@keyframes rotator {
  30%, 100% {transform: rotate(360deg);
}
