<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>strato compatibility list | compat-list-mali | compatibility-list</title>
    <meta property="og:title" content="strato compatibility list" />
    <meta property="og:locale" content="en_US" />
    <link rel="canonical" href="https://hakureii.github.io/compat-list-mali/" />
<meta property="og:url" content="https://hakureii.github.io/compat-list-mali/" />
<meta property="og:site_name" content="compat-list-mali" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="strato compatibility list" />
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","headline":"strato compatibility list","name":"compat-list-mali","url":"https://hakureii.github.io/compat-list-mali/"}</script>
    <link rel="stylesheet" href="/compat-list-mali/assets/css/style.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="/compat-list-mali/assets/images/strato.png">
    <meta name="description" content="a mali gpu compatibility list of nintendo switch games for strato emulator!" />
    <meta property="og:description" content="a list of working/non-working games for Mali gpu!"/>
    <meta property="og:image" content="/compat-list-mali/assets/images/strato.png" />
    <meta name="theme-color" content="#2C2D31">
<meta name="msapplication-navbutton-color" content="#2C2D31">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body><h1 id="strato-compatibility-list"><a href="https://github.com/strato-emu/strato"><img src="/compat-list-mali/assets/images/strato.png" alt="strato" id="logo"></a>strato compatibility list<button type="button" id="menum" onclick="mainMenu()">🔍</button>
</h1>

<div style="display: none; position: fixed; overflow: hidden;" id="menu"><input type="text" id="keywords" onkeyup="search()" placeholder="Search for games.." title="search">
</div>
<section id="listMain">

     {{ content }}

</section>
<footer>
    <p style="text-align: center;"><b>Testers<b></p>
<p style="text-align: center; word-spacing: 20px;" id="tester"><sub>Wumbee  tanos  yusef</sub></p><br>
<p style="text-align: center;"><b>Maintainers<b></p>
<p style="text-align: center; word-spacing: 30px;"><sub>Wumbee  Hakurei</sub></p>
</footer>
<br><br>
<script src="/compat-list-mali/assets/js/script.js"></script>
</body>
</html>
</body>
</html>
